/* RESET  */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DIV PRINCIPALE */
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* TITRE PAGE */
h1{
  margin-top:40px ;
  font-size: 48px;
  color: purple;
}

/* FORMULAIRE */
#root form{
  margin-top:20px;
}

/* CHAMPS DE SAISIE DU FORMULAIRE  */
#root form input{
  margin-right: 5px;
  height:28px;
  font-size: 18px;
  
}
/* STYLE DES BOUTON */
#root form button, #root ul li button{
  border: 1px solid pink;
  background-color: pink;
  padding:8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* DIV REGROUPANT TOUTES LES TACHES  */
.tasks{
  /* border : 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:25vw;
}

/* UNE TACHE  */
#root ul li{
  text-align: center;
  list-style: none;
  margin-top: 15px;
  font-size:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

/*  BOUTON POUR MODIFIER ET SUPPRIMER */
#root ul li button{
  margin-left:15px;
  margin-right: 15px;
  margin-bottom: 15px;
  width:8vw;
}

/* INPUT POUR LES MODIFICATION */
.update{
  font-size: 18px;
  margin-bottom:10px;
  margin-top: 5px;
}

/* **********************RESPONSIVE*********************************** */
/* PETIT ECRAN */
@media screen and (min-width:359px) and (max-width:800px){
    
  /* POUR LES TACHE  */
    .tasks{
      width:50vw;
    }

    /* POUR LES BOUTON  */
    #root ul li button{
      width:20vw;
    }

    .update{
      width:35vw;
    }

}
/* MOYEN ECRAN */
@media screen and (min-width:801px) and (max-width:1000px){
    
  /* POUR LES TACHE  */
    .tasks{
      width:40vw;
    }

    /* POUR LES BOUTON  */
    #root ul li button{
      width:20vw;
    }

    .update{
      width:35vw;
    }

}
/* GRAND ECRAN */
@media screen and (min-width:1001px) and (max-width:1300px){
    
  /* POUR LES TACHE  */
    .tasks{
      width:30vw;
    }

    /* POUR LES BOUTON  */
    #root ul li button{
      width:15vw;
    }

    .update{
      width:25vw;
    }

}